header{
    max-width: 1600px;
}

.upper-section{
   
    background-image: url("images/banner/banner1.png");
    background-repeat: no-repeat;
    
}
.heading-line{
    color: #151414;
    text-align: right;
    font-size: 40px;
    font-weight: 700;
    padding-top: 116px;
    padding-right: 230px;
    padding-bottom: 0px;
    padding-left: 845px;
}
.heading-description{
    text-align: right;
    padding-top: 24px;
    padding-right: 230px;
    padding-bottom: 32px;
    padding-left: 876px;
    color: #444343;
    text-align: right;
    font-size: 16px;
    font-weight: 400;
}
.btn{
    text-align: right;
    padding-right: 230px;
    padding-bottom: 100px;
}
.btn-primary{
    border-radius: 5px;
    background: #F15B22;
    color: #FFF;
    border-style: none;
    width: 160px;
    height: 64px;
}

/* main section */
section{
    max-width: 1600px;
    
}
.my-failures{
    
    padding-top: 80px;
    display: flex;
    padding-left: 230px;
    
    
}
.failure-img{
    width: 50%;
}
.failure-text{
    
    width: 400px;
    align-items: center;
}
img{
    width: 500px;
    height: 600px;
    
}

.box{
    padding-top: 150px;
}
li{
    padding-bottom: 5px;
    
}
.failure-description{
    color: #444343;
    font-size: 16px;
    font-weight: 400;
}



/* my plans */

.plan-title{
    padding-top: 80px;
    color:#151414;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}
.plan-divs{
    padding-right: 230px;
    padding-left: 230px;
    padding-top: 30px;
    display: flex;
    justify-content: space-around;

}
.plan-icons{
    text-align: center;
}
.plan-icons img{
    height: 100px;
    width: 100px;
}
.plan-divs h1{
    color: #151414;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}
.plan-divs p{
    color: #737272;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}
.call-div{
    padding: 50px 230px;
}
.bg-watch{
    background-image: url('images/watch.png');
    background-repeat: no-repeat;
    height: 300px;
}
.bg-watch img{
    height: 300px;
}
.call-div h1{
    padding:80px;
    color: black;
    font-size: 40px;
    font-weight: 700;
    }
.call-btn{
    background-color: white;
    color: #F15B22;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    padding: 15px 25px;
    border-style: none;
}


/* footer */

.footer-div{
    background-color: black;
    color: white;
    padding: 50px 230px;
    display: flex;
}
.footer-div1{
    padding: 0px 300px 50px 0px;
}
.footer-div2{

}
.footer-div2 input{
    background-color: black;
    border-color: #737272;
    height: 50px;
    width: 400px;
}
